build
modules
tasks
matlab/pclist.txt
matlab/flowProPath.txt
network/*
testkeystore.ks
log*
*.tmp
*.jar
*.zip
*.txt
*.mat

# all simulations except for some chosen examles
simulations/*
!simulations/examples/
