build
modules
tasks
matlab/pclist.txt
matlab/flowProPath.txt
network/*
args.txt
log.*
testkeystor
fetcherState.txt
*.tmp

# all simulations except for some chosen examles
simulations/*
!simulations/examples/
